<!DOCTYPE HTML>
<html lang="en-EN">
<head>
    <meta name="Author" content="Natalia Pasturczak"/>
    <meta name="keywords" content="hangman, html, js, game, play, words, word"/>
    <meta name="description" content="Hangman"/>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--sposób wyświetlania na urządzeniach mobilnych-->
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src ="css/js/hangman.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="icon" href="favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <title> Hangman </title>
</head>
<body>
<div id = "main">
    <h1> Hangman game</h1>
    <div id="board">
    </div>
    <div id="gallows">
        <img src="images/s0.jpg" height="280" width="450"/>
    </div>
    <div id="alphabet">
    </div>
    <div style="clear:both;"> </div>
    <!--because we want to clear float: left-->
    <div id="correct">
        <h2> Correct answers:</h2>
    </div>
    <button id="button"> NEW GAME </button>
    <footer> &#169; 2018 Natalia Pasturczak  All Rights Reserved  &#169; </footer>
</div>
</body>
</html>