<!DOCTYPE HTML>
<html lang="en-EN">
<head>
    <meta name="Author" content="Natalia Pasturczak"/>
    <meta name="keywords" content="hangman, html, js, game, play, words, word"/>
    <meta name="description" content="Hangman"/>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--sposób wyświetlania na urządzeniach mobilnych-->
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/hangman_style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="icon" href="favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <title> Hangman </title>
</head>
<body>
<input id="back" type="button" value="Back">
<div id = "main">
    <h1> Hangman game</h1>
    <div id="info" align="center">
        Current points: 0
    </div>
    <div id="board">
    </div>
    <div id="gallows">
        <img src="images/s0.jpg" height="280" width="450"/>
    </div>
    <div id="alphabet">
    </div>
    <div style="clear:both;"> </div>
    <!--because we want to clear float: left-->
    <div id="correct">
        <h2> Correct answers:</h2>
    </div>
    <button id="newGame"> BACK </button>
    <footer> &#169; 2018 Natalia Pasturczak  All Rights Reserved  &#169; </footer>
</div>
</body>
</html>

<script xmlns:th="http://www.w3.org/1999/xhtml" th:inline="javascript">
    var answers = [[${answers}]];
    var points = 0;

    var queue = new Array();
    queue.push("I am still learning...");
    queue.push("Do you have a minute?");
    queue.push("Hi, nice to meet you!");
    queue.push("Have a nice weekend.");
    queue.push("No pain no gain.");
    queue.push("How are you?");

    var alphabet = 'abcdefghijklmnopqrstuvwxyz'.split('');

    var text = {
        sentence: "",
        hiddenText: "",
        howManyMiss: 0
    };
    var yes = new Audio("audio/yes.wav");
    var no = new Audio("audio/no.wav");

    function showSentence() {
        text.sentence = queue.pop();
        let re = new RegExp("\\w", "g");
        text.hiddenText = text.sentence.replace(re, "_");
        document.getElementById("board").innerHTML = text.hiddenText;
    }

    function showLetters() {
        let textDiv = "";
        for (let i = 0; i < alphabet.length; i++) {
            let element = "lett" + i;
            textDiv += '<div class = "letter" onclick="checkAll(' + i + ')" id="' + element + '">' + alphabet[i] + '</div>';
        }
        document.getElementById("alphabet").innerHTML = textDiv;
    }

    String.prototype.replaceSign = function (place, sign) {
        if (place > this.length - 1) return this.toString();
        else return this.substring(0, place) + sign + this.substring(place + 1);
    };

    function changeLetterAfterClick(bgColor, color, element) {
        document.getElementById(element).style.background = bgColor;
        document.getElementById(element).style.border = "3px solid " + color;
        document.getElementById(element).style.color = color;
        document.getElementById(element).style.cursor = "default";
        document.getElementById(element).removeAttribute('onclick');
    }

    function checkAll(nr) {
        let select = false;
        for (let i = 0; i < alphabet.length; i++) {
            if (text.sentence.charAt(i).toLowerCase() === alphabet[nr].toLowerCase()) {
                text.hiddenText = text.hiddenText.replaceSign(i, alphabet[nr]);
                select = true;
            }
        }
        let element = "lett" + nr;

        if (select === true) {
            document.getElementById("board").innerHTML = text.hiddenText;
            yes.play();
            changeLetterAfterClick("#005700", "#00C000", element);
            if (text.sentence.toLowerCase() === text.hiddenText) {
                document.getElementById("alphabet").innerHTML = "This is the right answer!";
                resetGame();
                showCorrectAnswers();
            }
        } else {
            no.play();
            changeLetterAfterClick("#640d06", "#ee120d", element);

            text.howManyMiss++;
            if (text.howManyMiss <= 4) {
                let picture = "images/s" + text.howManyMiss + ".jpg";
                document.getElementById("gallows").innerHTML = '<img src="' + picture + '" alt=""/>';
            }
            if (text.howManyMiss == 4) {  //jak przegral
                document.getElementById("alphabet").innerHTML = "Game over! Sentence: " + text.sentence;
                resetGame();
            }
        }
    }

    function resetGame() {
        if (queue.length > 0) {
            document.getElementById("newGame").style.visibility = "visible";
            document.getElementById("newGame").style.cursor = "pointer";
        } else {
            document.getElementById("newGame").removeEventListener("click", buttonNewGame);
            document.getElementById("board").innerHTML = "This is the end of the game ";
        }
    }

    function showCorrectAnswers() {
        document.getElementById("correct").style.visibility = "visible";
        let node = document.createElement("LI");
        let textSent = document.createTextNode(text.sentence);
        node.appendChild(textSent);
        document.getElementById("correct").appendChild(node);
    }

    function clickNewGameButton() {
        document.getElementById("newGame").addEventListener("click", buttonNewGame);
    }

    function buttonNewGame() {
        document.getElementById("newGame").style.visibility = "hidden";
        showLetters();
        showSentence();
        document.getElementById("gallows").innerHTML = '<img src="images/s0.jpg" alt=""/>';
        text.howManyMiss = 0;
    }

    function clickBackButton() {
        document.getElementById("back").addEventListener("click", buttonBack);
    }

    function buttonBack() {
        if (confirm("You have unsaved game. Do you want to continue?")) window.location.href = 'journey';
    }

    window.addEventListener("load", function () {
        showLetters();
        showSentence();
        clickNewGameButton();
        clickBackButton();
    });
</script>