<!DOCTYPE HTML>
<html lang="en-EN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="Author" content="Natalia Pasturczak"/>
    <meta name="keywords" content="hangman, html, js, game, play, words, word"/>
    <meta name="description" content="Hangman"/>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--sposób wyświetlania na urządzeniach mobilnych-->
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="icon" href="favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/hangman_style.css"/>
    <title> LangStorm </title>
</head>
<body>
<div id="main">
    <h1> Hangman game</h1>
    <div id="info" align="center">
        Current points: 0
    </div>
    <div id="board">
    </div>
    <div id="gallows">
        <img src="images/s0.jpg"/>
    </div>
    <div id="alphabet">
    </div>
    <div style="clear:both;"></div>
    <!--because we want to clear float: left-->
    <div id="correct">
        <h2> Correct answers:</h2>
    </div>
    <button id="newGame"> NEXT</button>
    <footer> &#169; 2019 Natalia Pasturczak, Jonasz Kulpinski All Rights Reserved &#169;</footer>
</div>
</body>
</html>

<script xmlns:th="http://www.w3.org/1999/xhtml" th:inline="javascript">
    var answer = [[${answers}]];
    var translation = [[${translation}]];
    var maxpoints = answer.length;
    var alphabet = 'abcdefghijklmnopqrstuvwxyz'.split('');

    var text = {
        sentence: "",
        translation: "",
        hiddenText: "",
        howManyMiss: 0,
        run: true,
        draw: 0,
        points: 0,
        update_points: function () {
            document.getElementById("info").innerHTML = 'Current points: ' + this.points;
        }
    };
    var yes = new Audio("audio/yes.wav");
    var no = new Audio("audio/no.wav");

    function showSentence() {
        text.draw = Math.floor((Math.random() * answer.length));
        text.sentence = answer[text.draw];
        answer= removeElementFromArray(answer, text.draw);

        text.translation = translation[text.draw];
        translation=removeElementFromArray(translation, text.draw);

        let re = new RegExp("\\w", "g");
        text.hiddenText = text.sentence.replace(re, "_");
        document.getElementById("board").innerHTML = text.hiddenText;
    }

    function removeElementFromArray(array, number){
        array.splice(number, 1);
        return array;
    }

    function showLetters() {
        let textDiv = "";
        for (let i = 0; i < alphabet.length; i++) {
            let element = "lett" + i;
            textDiv += '<div class = "letter" onclick="checkAll(' + i + ')" id="' + element + '">' + alphabet[i] + '</div>';
        }
        document.getElementById("alphabet").innerHTML = textDiv;
    }

    String.prototype.replaceSign = function (place, sign) {
        if (place > this.length - 1) return this.toString();
        else return this.substring(0, place) + sign + this.substring(place + 1);
    };

    function changeLetterAfterClick(bgColor, color, element) {
        document.getElementById(element).style.background = bgColor;
        document.getElementById(element).style.border = "3px solid " + color;
        document.getElementById(element).style.color = color;
        document.getElementById(element).style.cursor = "default";
        document.getElementById(element).removeAttribute('onclick');
    }

    function checkAll(nr) {
        let select = false;
        for (let i = 0; i < text.sentence.length; i++) {
            if (text.sentence.charAt(i).toLowerCase() === alphabet[nr].toLowerCase()) {
                text.hiddenText = text.hiddenText.replaceSign(i, alphabet[nr]);
                select = true;
            }
        }
        let element = "lett" + nr;

        if (select === true) {
            document.getElementById("board").innerHTML = text.hiddenText;
            yes.play();
            changeLetterAfterClick("#005700", "#00C000", element);
            if (text.sentence.toLowerCase() === text.hiddenText) {
                document.getElementById("alphabet").innerHTML = "This is the right answer!";
                text.points += 1;
                text.update_points();
                resetGame();
                showCorrectAnswers();
            }
        } else {
            no.play();
            changeLetterAfterClick("#640d06", "#ee120d", element);

            text.howManyMiss++;
            if (text.howManyMiss <= 4) {
                let runner = "images/s" + text.howManyMiss + ".jpg";
                document.getElementById("gallows").innerHTML = '<img src="' + runner + '" alt=""/>';
            }
            if (text.howManyMiss === 4) {  //jak przegral
                document.getElementById("alphabet").innerHTML = "Defeat!";
                resetGame();
            }
        }
    }

    function resetGame() {
        if (answer.length > 0) {
            document.getElementById("newGame").style.visibility = "visible";
            document.getElementById("newGame").style.cursor = "pointer";
        } else {
            document.getElementById("newGame").removeEventListener("click", buttonNewGame);
            document.getElementById("info").innerHTML = '';
            if (text.points > maxpoints / 2) {
                document.getElementById("board").innerHTML = 'Congratulations! Game completed.<br>' +
                    ' Your score: ' + text.points + '/' + maxpoints + '<br>' +
                    '<form method="POST">' +
                    '<div style="display: none"><input name="point" value="' + text.points + '"></div>' +
                    '<input type="submit" value="Save and move on" class="button" style="background-color: #11b40c;height: 40px;width: 200px">' +
                    '</form>';
            } else {
                document.getElementById("board").innerHTML = 'Try again!<br>' +
                    ' Your score: ' + text.points + '/' + maxpoints + '<br>' +
                    '<form method="POST">' +
                    '<div style="display: none"><input name="point" value="0"></div>' +
                    '<button type="submit" style="background-color: #a790ff;height: 40px;width: 200px">Back to your Journey</button>' +
                    '</form>';
            }
        }
    }

    function showCorrectAnswers() {
        document.getElementById("correct").style.visibility = "visible";
        let node = document.createElement("LI");
        let textSent = document.createTextNode(text.sentence + " - " + text.translation);
        node.appendChild(textSent);
        document.getElementById("correct").appendChild(node);
    }

    function clickNewGameButton() {
        document.getElementById("newGame").addEventListener("click", buttonNewGame);
    }

    function buttonNewGame() {
        document.getElementById("newGame").style.visibility = "hidden";
        showLetters();
        showSentence();
        document.getElementById("gallows").innerHTML = '<img src="images/s0.jpg" alt=""/>';
        text.howManyMiss = 0;
    }

    window.addEventListener("load", function () {
        showLetters();
        showSentence();
        clickNewGameButton();
    });
</script>