<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/journey_style.css"/>
    <title>Choose Game</title>
</head>
<body>
<div id="main">
    <div id="title">
        <h1 th:text="#{journey}"></h1>
        <h1 th:text="#{greeting}"></h1>
        <span th:text="#{lang.change}"></span>:
        <select id="locales">
            <option value=""></option>
            <option value="en" th:text="#{lang.eng}"></option>
            <option value="fr" th:text="#{lang.fr}"></option>
        </select>
    </div>
    <div id="user_info">
        <p th:text="${levelup}"></p>
        <span th:text="${cheater}"></span>
        <span th:text="#{loggedAs}"></span></th:text> <span th:text="${login}"></span> / Level: <span
                th:text="${level}"></span>
        / Total
        Points: <span
            th:text="${points}"></span> <br><br>
        <a href="logout" class="btn btn-danger">Logout</a><br><br>
    </div>
    <div id="games">
        <div class="popup">
            <button class="btn btn-info" onclick="myFunction(0,'story')">Click here to see level objectives!</button>
            <span class="popuptext" id="story">info</span>
        </div>

        <br><br><span id="picture_back" th:text="${picture}"></span><br>
        <div id="picture1">
            <a href="pictures" class="btn btn-success btn-lg">Matching</a><br>
        </div>
        <br>
        <div class="popup">
            <button class="btn btn-info" onclick="myFunction(1,'curio1')">Curiosity 1</button>
            <span class="popuptext" id="curio1">info</span>
        </div>

        <br><br><span id="hangman_back" th:text="${hangman}"></span><br>
        <div id="hangman1">
            <a href="hangman" class="btn btn-success btn-lg">Hangman</a><br>
        </div>
        <br>
        <div class="popup">
            <button class="btn btn-info" onclick="myFunction(2,'curio2')">Curiosity 2</button>
            <span class="popuptext" id="curio2">info</span>
        </div>

        <br><br><span id="rebus_back" th:text="${rebus}"></span><br>
        <div id="rebus1">
            <a href="rebus" class="btn btn-success btn-lg">Rebus</a><br>
        </div>
        <br>
        <div class="popup">
            <button class="btn btn-info" onclick="myFunction(3,'curio3')">Curiosity 3</button>
            <span class="popuptext" id="curio3">info</span>
        </div>
    </div>
</div>
<footer> &#169; 2018 Natalia Pasturczak, Jonasz Kulpinski All Rights Reserved &#169;</footer>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('international?lang=' + selectedOption);
            }
        });
    });
</script>
<script xmlns:th="http://www.w3.org/1999/xhtml" th:inline="javascript">
    var infos = [[${infos}]];
    if (document.getElementById("picture_back").innerText === "Pictures game has already been completed at this level")
        document.getElementById("picture1").innerHTML =
            '<a href="pictures" class="btn btn-danger btn-lg">Matching</a><br>';

    if (document.getElementById("hangman_back").innerText === "Hangman game has already been completed at this level")
        document.getElementById("hangman1").innerHTML = '<a href="hangman" class="btn btn-danger btn-lg">Hangman</a><br>';

    if (document.getElementById("rebus_back").innerText === "Rebus game has already been completed at this level")
        document.getElementById("rebus1").innerHTML = '<a href="rebus" class="btn btn-danger btn-lg">Rebus</a><br>';

    function myFunction(number, name) {
        document.getElementById(name).innerHTML = infos[number];
        var popup = document.getElementById(name);
        popup.classList.toggle("show");
    }
</script>