 <!DOCTYPE HTML>
    <html lang="en-EN" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="Author" content="Natalia Pasturczak"/>
        <meta name="keywords" content="journey"/>
        <meta name="description" content="Journey"/>
        <meta charset="utf-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <!--sposób wyświetlania na urządzeniach mobilnych-->
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="css/journey_style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="icon" href="favicon.ico"/>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
        <title> LangStorm </title>
    </head>
<body>
<div id="main">
    <div id="title">
        <h1 th:text="#{journey}"></h1>
        <h2 id="jour" th:text="#{greeting}"></h2>
        <span th:text="#{lang.change}"></span>:
        <select id="locales">
            <option value=""></option>
            <option value="en" th:text="#{lang.eng}"></option>
            <option value="pln" th:text="#{lang.pln}"></option>
        </select>
    </div>
    <div id="user_info">
        <br><a href="logout" class="btn btn-danger"><span th:text="#{logout}"></span></a>
        <a href="leaderboard" class="btn btn-primary"><span th:text="#{leaderBoard}"></span></a><br>
        <span th:text="${cheater}"></span><br>
        <span th:text="#{loggedAs}"></span></th:text> <span th:text="${login}"></span> / <span
            th:text="#{level}"></span>
        <span th:text="${level}"></span>
        / <span th:text="#{totalPoints}"></span> <span th:text="${points}"></span> <br>
        <p id="lev" style="color: green;font-size: large;" th:text="${levelup}"></p>

    </div>
    <div id="games">
        <div class="popup">
            <button class="btn btn-info" onclick="myFunction(0,'story')"><span th:text="#{objectives}"></span></button>
            <span class="popuptext" id="story">info</span>
        </div>

        <br><br><span id="picture_back" th:text="${picture}"></span><br>
        <div id="picture1">
            <a href="pictures" class="btn btn-success btn-lg"><span th:text="#{matching}"></span></a><br>
        </div>
        <br>
        <div class="popup">
            <button class="btn btn-info" onclick="myFunction(1,'curio1')"><span th:text="#{curiosity}"></span>
                1
            </button>
            <span class="popuptext" id="curio1">info</span>
        </div>

        <br><br><span id="hangman_back" th:text="${hangman}"></span><br>
        <div id="hangman1">
            <a href="hangman" class="btn btn-success btn-lg"><span th:text="#{hangman}"></span></a><br>
        </div>
        <br>
        <div class="popup">
            <button class="btn btn-info" onclick="myFunction(2,'curio2')"><span th:text="#{curiosity}"></span> 2
            </button>
            <span class="popuptext" id="curio2">info</span>
        </div>

        <br><br><span id="rebus_back" th:text="${rebus}"></span><br>
        <div id="rebus1">
            <a href="rebus" class="btn btn-success btn-lg">Rebus</a><br>
        </div>
        <br>
        <div class="popup">
            <button class="btn btn-info" onclick="myFunction(3,'curio3')"><span th:text="#{curiosity}"></span> 3
            </button>
            <span class="popuptext" id="curio3">info</span>
        </div>
    </div>
    <div id="successMessage">

    </div>
    <footer> &#169; 2018 Natalia Pasturczak, Jonasz Kulpinski All Rights Reserved &#169;</footer>
</div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script xmlns:th="http://www.w3.org/1999/xhtml" th:inline="javascript">
    var level = [[${level}]];
    document.body.style.background = "url(../images/" + level + ".jpg)";
    $(document).ready(function () {
        var infos2 = [[${infos}]];
        var infos2_pl = [[${infos_pl}]];

        if (document.getElementById("jour").innerText === "Your Journey") {
            document.getElementById("successMessage").innerHTML = '<h2>New day of the journey!</h2>' +
                infos2[0] + '<br><br>' +
                '<form action="journey">' +
                '    <button type="submit" style="background-color: #2e9b08;height: 40px;width: 200px; cursor: pointer;">OK</button>\n' +
                '</form>';
        }
        else{
            document.getElementById("successMessage").innerHTML = '<h2>Kolejny dzień podróży!</h2>' +
                infos2_pl[0] + '<br><br>' +
                '<form action="journey">' +
                '    <button type="submit" style="background-color: #2e9b08;height: 40px;width: 200px; cursor: pointer;">OK</button>\n' +
                '</form>';
        }

        $('#successMessage').hide();
        $('#successMessage').css({
            left: '580px',
            top: '250px',
            width: 0,
            height: 0
        });
        if (document.getElementById("lev").innerText === "Next day of journey!!!") {
            $('#successMessage').show();
            $('#successMessage').animate({
                left: '37%',
                top: '25%',
                width: '25%',
                height: '50%',  // tu sie ustawia jak duze okienko wygranej
                opacity: 1
            });
        }
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != '') {
                window.location.replace('journey?lang=' + selectedOption);
            }
        });
    });
</script>
<script xmlns:th="http://www.w3.org/1999/xhtml" th:inline="javascript">
    var infos = [[${infos}]];
    var infos_pl = [[${infos_pl}]];

    if (document.getElementById("picture_back").innerText === "Matching game has already been completed for this day") {
        document.getElementById("picture1").innerHTML =
            '<a href="pictures" class="btn btn-danger btn-lg">' + document.getElementById("picture1").innerText + '</a><br>';
        if (document.getElementById("picture1").innerText.includes("Dopasuj"))
            document.getElementById("picture_back").innerText = "Dopasuj zostało ukończone na tym poziomie";
    }
    if (document.getElementById("hangman_back").innerText === "Hangman game has already been completed for this day") {
        document.getElementById("hangman1").innerHTML =
            '<a href="hangman" class="btn btn-danger btn-lg">' + document.getElementById("hangman1").innerText + '</a><br>';
        if (document.getElementById("hangman1").innerText.includes("Wisielec"))
            document.getElementById("hangman_back").innerText = "Wisielec został ukończony na tym poziomie";
    }

    if (document.getElementById("rebus_back").innerText === "Rebus game has already been completed for this day") {
        document.getElementById("rebus1").innerHTML = '<a href="rebus" class="btn btn-danger btn-lg">Rebus</a><br>';
        if (document.getElementById("hangman1").innerText.includes("Wisielec"))
            document.getElementById("rebus_back").innerText = "Rebus został ukończony na tym poziomie";
    }

    function myFunction(number, name) {
        if (document.getElementById("jour").innerText === "Your Journey") {
            document.getElementById(name).innerHTML = infos[number];
        } else {
            document.getElementById(name).innerHTML = infos_pl[number];
        }
        var popup = document.getElementById(name);
        popup.classList.toggle("show");
    }
</script>