<!DOCTYPE HTML>
<html lang="en-EN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="Author" content="Natalia Pasturczak"/>
    <meta name="keywords" content="hangman, html, js, game, play, words, word"/>
    <meta name="description" content="Hangman"/>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--sposób wyświetlania na urządzeniach mobilnych-->
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="icon" href="favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/pictures_style.css"/>
    <title> LangStorm </title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
    <script xmlns:th="http://www.w3.org/1999/xhtml" th:inline="javascript">
        var correctCards = 0;

        var time = 120;
        var tick = setInterval(check_time, 1000);

        function check_time() {
            time--;
            document.getElementById("sec").innerHTML = 'Remaining time: <br>' + time;
            if (time <= 0) {
                clearInterval(tick);
                document.getElementById("successMessage").innerHTML = '<h2>End of Time!</h2>' +
                    ' You need to be faster. Try again!<br>' +
                    '<form action="journey">' +
                    '    <button type="submit" style="background-color: #ff5f58;height: 40px;width: 200px; cursor: pointer;">Back to your Journey</button>\n' +
                    '</form>';
                $('#successMessage').show();
                $('#successMessage').animate({
                    left: '100px',
                    top: '200px',
                    width: '1150px',
                    height: '350px',  // tu sie ustawia jak duze okienko wygranej
                    opacity: 1
                });
            }
        }
        $(init);

        function init() {
            // Hide the success message
            $('#successMessage').hide();
            $('#successMessage').css({
                left: '580px',
                top: '250px',
                width: 0,
                height: 0
            });

            document.getElementById("successMessage").innerHTML = '<h2>Congratulations!</h2>' +
                ' You received 3 points for this game<br>' +
                '<form method="POST">' +
                '<div style="display: none"><input name="point" value="3"></div>' +
                '<input type="submit" value="Save and move on" class="button" style="background-color: #98ccc8; height: 40px;width: 200px; cursor: pointer;">' +
                '</form>';


            // Reset the game
            correctCards = 0;
            $('#cardPile').html('');
            $('#cardSlots').html('');

            // Create the pile of shuffled cards

            var numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
            var terms = [[${answers}]];
            var words = [[${texts}]];

            //random
            shuffleArray(numbers, words);

            for (let i = 0; i < 10; i++) {
                $('<div>' + terms[i] + '</div>').data('number', i + 1).attr('id', 'card' + numbers[i]).appendTo(
                    '#cardPile').draggable({
                    stack: '#cardPile div',
                    cursor: 'move',
                    revert: true
                });

                // Create the card slots
                $('<div>' + words[i] + '</div>').data('number', numbers[i]).appendTo('#cardSlots').droppable({
                    accept: '#cardPile div',
                    hoverClass: 'hovered',
                    drop: handleCardDrop
                });
            }
        }

        function handleCardDrop(event, ui) {
            var slotNumber = $(this).data('number');
            var cardNumber = ui.draggable.data('number');

            // If the card was dropped to the correct slot,
            // change the card colour, position it directly
            // on top of the slot, and prevent it being dragged
            // again

            if (slotNumber == cardNumber) {
                ui.draggable.addClass('correct');
                ui.draggable.draggable('disable');
                $(this).droppable('disable');
                ui.draggable.position({of: $(this), my: 'left top', at: 'left top'});
                ui.draggable.draggable('option', 'revert', false);
                correctCards++;
            }

            // If all the cards have been placed correctly then display a message
            // and reset the cards for another go

            if (correctCards == 10 && time > 0) {
                clearInterval(tick);
                $('#successMessage').show();
                $('#successMessage').animate({
                    left: '10%',
                    top: '20%',
                    width: '80%',
                    height: '60%',   // tu sie ustawia jak duze okienko wygranej
                    opacity: 1
                });
            }
        }

        //to random array
        function shuffleArray(numbers, words) {
            for (let i = numbers.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1))
                {
                    [numbers[i], numbers[j]] = [numbers[j], numbers[i]];
                    [words[i], words[j]] = [words[j], words[i]];
                }
            }
        }

        function buttonBack(){
            window.location.href = 'journey'
        }
    </script>
</head>
<body>
<div id="main">
<div class="wideBox">
    <h2 th:text="#{match}"></h1></h2>
    <div id="sec">
        Remaining time: <br>...
    </div>
</div>

<div id="content">
    <div id="cardPile"></div>
    <div id="cardSlots"></div>

    <div id="successMessage">
        <h2>Congratulations!</h2>
        <button id="newGame" onclick="buttonBack()"> BACK</button>
    </div>
    <br> <br>
</div>
    <footer> &#169; 2018 Natalia Pasturczak, Jonasz Kulpinski All Rights Reserved &#169;</footer>
</div>
</body>
</html>

