<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Rebus</title>
    <link rel="stylesheet" type="text/css" href="css/pictures_style.css"/>
    <script src ="css/js/pictures.js"></script>
</head>
<body>
    <div id = "pojemnik">
        <button id="newGame" onclick="buttonBack()"> BACK </button>
        <div id = "title">
            Pictures
        </div>
        <div id = "picture">
            <img style="width: 50% " src="images/2111.jpg" alt =""/>
        </div>
        <div id = "word">
            Answer: <input style="font-size:80%" type = "text" id = "odp" size="15" ><br>
            <div id = "error"></div>
            <span style="font-size:large">Press Enter to check</span>
        </div>
        <div style="clear:both;"></div>
    </div>


</body>
</html>
