<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Rebus</title>
    <link rel="stylesheet" type="text/css" href="css/rebus_style.css"/>
    <script src ="css/js/rebus.js"></script>
</head>
<body>
<div id="container">
    <script id="ert" th:inline="javascript">
        var filenames = [[${filenames}]];
        var answers = [[${answers}]];
        var du = 1;
    </script>
    <button id="newGame" onclick="buttonBack()"> BACK </button>
        <div id = "title">
            Rebus
        </div>
    <div id="info">
        Current points: 0
    </div>
        <div id = "picture">
            <img style="width: 50% " src="images/1111.jpg" alt =""/>
        </div>
        <div id = "word">
            Answer: <input style="font-size:80%" type = "text" id = "odp" size="15" ><br>
            <div id = "error"></div>
            <span style="font-size:large">Press Enter to check</span>
        </div>
        <div style="clear:both;"></div>
    </div>


</body>
</html>
