<!DOCTYPE HTML>
<html lang="en-EN">
<head>
    <meta name="Author" content="Natalia Pasturczak"/>
    <meta name="keywords" content="register, html, js, game, play, words, word"/>
    <meta name="description" content="Register"/>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--sposób wyświetlania na urządzeniach mobilnych-->
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" href="favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/register_style.css"/>
    <title> LangStorm </title>
</head>


<body>
<div id="main" align="center">
    <div id="title">
        <h1> LangStorm</h1>
        <h2>Registration</h2>
        <br>
    </div>

    <div id="alerts" style="color: red;font-size: large;">
        <p xmlns:th="http://www.w3.org/1999/xhtml"
           th:utext="${#strings.replace(#strings.escapeJava(alert1),'\n','&lt;br /&gt;')}"></p>
    </div>

    <form method="POST">

        <div>User Name :<br><label><input class="form-control" type="text" name="login"/> </label></div>
        <br>
        <div>Email :<br><label><input class="form-control" type="text" name="email"/> </label></div>
        <br>
        <div>Password:<br><label><input class="form-control" type="password" id="password" name="pass"/> </label></div>
        <br>
        <progress id="passwordComplexity" value="0"></progress>
        <br>
        <div>Reenter password:<br><label> <input class="form-control" type="password" name="pass2"/> </label></div>
        <br>

        <div><input type="submit" class="btn btn-success" value="Submit"/> <a href="login" class="btn btn-info">Back to
            login</a></div>
    </form>
    <br> <br>
    &#169; 2019 Natalia Pasturczak, Jonasz Kulpinski All Rights Reserved
    &#169;
</div>
</body>
</html>
<script xmlns:th="http://www.w3.org/1999/xhtml" th:inline="javascript">

    let calcComplexity = function(password){
        let complexity = 0;
        let regExps = [
            /[a-z]/,
            /[A-Z]/,
            /[0-9]/,
            /.{8}/,
            /.{16}/,
            /\W|_/  //for special signs
        ];

        regExps.forEach(function (regexp){
            if (regexp.test(password)){
                complexity++;
            }
        });

        return {
            value: complexity,
            max: regExps.length
        };

    };

    let checkPasswordStrength = function (password){
        let progress = document.querySelector('#passwordComplexity'),
            complexity = calcComplexity(this.value);

        progress.value = complexity.value;
        progress.max = complexity.max;
    };

    let input = document.querySelector('#password');

    input.addEventListener('keyup', checkPasswordStrength);

</script>