<!DOCTYPE HTML>
<html lang="en-EN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div align="center">
    <div id="title">
        <h1>Registration</h1>
        <br>
    </div>

    <div id="alerts" style="color: red;font-size: large;">
        <p th:utext="${#strings.replace(#strings.escapeJava(alert1),'\n','&lt;br /&gt;')}"></p>
    </div>

    <form method="POST">

        <div>User Name :<br><label><input class="form-control" type="text" name="login"/> </label></div>
        <br>
        <div>Email :<br><label><input class="form-control" type="text" name="email"/> </label></div>
        <br>
        <div>Password:<br><label><input class="form-control" type="password" name="pass"/> </label></div>
        <br>
        <div>Reenter password:<br><label> <input class="form-control" type="password" name="pass2"/> </label></div>
        <br>

        <div><input type="submit" class="btn btn-success" value="Submit"/> <a href="login" class="btn btn-info">Back to
            login</a></div>
    </form>
</div>
</body>
</html>