body {
    color: #000000;
    font-family: 'Roboto Mono', monospace;
    font-size: 340%;
    background-image: url(/images/login_back.jpg);

}
h1, h2{
    color: #007722;
    text-shadow: 2px 2px 2px #111111;
    text-decoration-color:  #007722;
}

#container {
    background-color: rgba(250, 250, 250, 0.7);
    text-align: center;
    margin: 1em auto;
    width: 80%;
    display: block;
    text-align: center;
    margin: 10px auto;
    font-size: 100%;
    padding: 5px;
    border: 10px dotted black;
}

#picture {
    display: block;
    text-align: center;
    margin: auto;
}

#word {
    display: block;
    text-align: center;
    margin: auto;
    font-size: x-large;
}

#error {
    color: #780000;
    font-size: xx-large;
}
button{
    cursor: pointer;
}
#info {
    color: #780000;
    font-size: large;
    text-align: center;
}

#newGame {
    padding: 0;
    margin: 0;
    text-align: left;
}

#gonwo {
    text-align: center;
    font-size: x-small;
}