body {
    background-color: #6fc588;
    color: #000000;
    font-family: 'Roboto Mono', monospace;
    font-size: 340%;
}

#container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title {
    display: block;
    text-align: center;
    margin: auto;
    font-size: 100%;
}

#picture {
    display: block;
    text-align: center;
    margin: auto;
}

#word {
    display: block;
    text-align: center;
    margin: auto;
    font-size: x-large;
}

#error {
    color: #780000;
    font-size: xx-large;
}
button{
    cursor: pointer;
}
#info {
    color: #780000;
    font-size: large;
    text-align: center;
}

#newGame {
    padding: 0;
    margin: 0;
    text-align: left;
}

#gonwo {
    text-align: center;
    font-size: x-small;
}