body {
    background-color: black;
    color: #dcdcdc;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 40px;
}

#pojemnik {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title {
    display: block;
    text-align: center;
    margin: auto;
    font-size: 50px;
}

#picture {
    display: block;
    text-align: center;
    margin: auto;
}

#word {
    display: block;
    text-align: center;
    margin: auto;
    font-size: x-large;
}

#error {
    color: red;
    font-size: xx-large;
}